.t1{
    color: orangered;
    text-align: center;
    background: black;
    font-size: 50px;
}
.t2{
    text-align: center;
    color: blue;
}
.t3{
    text-align: center;
}
.t4{
    color: red;
    text-align: center;
}
.t5{
    text-align: center;
    color: rgb(15, 15, 15);
}

.t6{
    text-align: center;
    color: rgb(15, 15, 15);
    background-color: rgb(202, 199, 199);
}

.t7{
    text-align: center;
    background-color: rgb(56, 57, 61);
    color: rgb(247, 245, 245);
}